Small_Test,Smaller test to get the graphs working correctly.,4,3,2,2,10
Small_Test(0),Smaller test to get the graphs working correctly.,4,3,2,2,10
Small_Test(1),Smaller test to get the graphs working correctly.,4,3,2,2,10
Mid_Test,Mid test to get the graphs working correctly.,5,5,4,3,25
Mid_Test(0),Mid test to get the graphs working correctly.,5,5,4,3,25
BiggerTest,100 Days Graph stress test.,5,5,4,3,150
